<h1>About:</h1>
<p>Hello! I’m an Information Systems Engineering student at Sheridan College,
    diving deep into the world of software development with a 3.67 GPA and a
    knack for turning complex problems into elegant digital solutions.
    I jazz up websites at Instant Imprints, where my strategies spiked sales by 25% overall. I crafted cool,
    user-friendly
    interfaces at HustleBee Softwares.
    When I'm not coding, I'm leading the Swiftie Club at Sheridan or geeking out over new tech trends.
    Looking for an internship that will challenge me and sharpen my skills in Fall 2024!</p>