.sidebar-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: green;
    color: #b0b3b8;
    height: 100vh;
    padding-top: 20px;
  }
  
  .sidebar mat-nav-list {
    padding: 0;
  }
  
  .sidebar mat-list-item {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .sidebar mat-list-item:hover {
    background-color: blue;
  }
  
  .sidebar mat-list-item span {
    font-size: 16px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  