<div class="sidebar-container">
    <div class="sidebar">
        <!-- Image container with a class for styling -->
        <div class="image-container ">
            <img class="object-contain object-centre w-48 h-48" src="assets/images/sid.png">
        </div>
        <mat-nav-list>
            <a routerLink="/">
                <mat-list-item>
                    <span>About</span>
                </mat-list-item>
            </a>
            <a routerLink="/projects">
                <mat-list-item>
                    <span>Projects</span>
                </mat-list-item>
            </a>
            <a routerLink="/resume">
                <mat-list-item>
                    <span>Resume</span>
                </mat-list-item>
            </a>
            <a routerLink="/contact">
                <mat-list-item>
                    <span>Contact</span>
                </mat-list-item>
            </a>
        </mat-nav-list>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
