<section>
    <h1 >Education</h1>
    <ul class="list-inside ...">
        <li>
            <h3>Computer Systems Technology - Information Systems Engineering | Advanced Diploma</h3>
            <p>September 2022 - December 2025, Sheridan College(TRC)</p>
            <h5> GPA: 3.67/4.0</h5>
        </li>
    </ul>

    <h1>Experience</h1>
    <ul class="list-inside">
        <li>
            <h3>Service Desk Representative | Instant Imprints</h3>
            <p>March 2024 - Present, Oakville, ON</p>
            <ul>
                <li>Engaged with customers, created support tickets, and provided comprehensive assistance, enhancing overall customer satisfaction.</li>
                <li>Explained business offerings and helped customers visualize and design their requests, ensuring clear understanding and successful outcomes.</li>
                <li>Acquired basic graphic design skills to assist the team and independently managed client relations.</li>
            </ul>
        </li>
        <li>
            <h3>Software Development Intern | HustleBee Softwares Private Limited</h3>
            <p>January 2024 - April 2024, Remote</p>
            <ul>
                <li>Translated client needs into JIRA stories for devs.</li>
                <li>Designed interactive UIs with HTML/CSS/JS/React, integrate with NodeJS/MongoDB.</li>
                <li>Conducted code reviews and provided feedback to team members.</li>
                <li>Troubleshooted and resolved production issues in a timely manner.</li>
            </ul>
        </li>
        <li>
            <h3>App Promotion Specialist | Boost Mobile Food Ordering</h3>
            <p>November 2023 - December 2023, Sheridan College(TRC)</p>
            <ul>
                <li>Enhanced app visibility through targeted marketing strategies at Sheridan College.</li>
                <li>Boosted user engagement by analyzing and optimizing engagement metrics.</li>
                <li>Collaborated with teams to refine promotional content and align with user preferences.</li> 
            </ul>
        </li>
    </ul>

    <h1>Skills</h1>
    <ul>
        <li>Programming Languages: C#, JavaScript, PHP, HTML, CSS</li>
        <li>Frameworks/Libraries: Java Spring Boot, Angular, Node.js, Tailwind, React JS, Express</li>
        <li>Development Environments/IDEs: Visual Studio, Visual Studio Code, IntelliJ IDEA, Netbeans, Eclipse</li>
        <li>Databases and Data Management: MySQL, SQL, Oracle Cloud DB, MongoDB, Azure</li>
        <li>Networking and Tools: Wireshark, Cisco Packet Tracer</li>
        <li>Collaboration and Project Management Tools: JIRA, Slack, GitHub, Discord</li>
        <li>Soft Skills: Communication, Teamwork, Problem-Solving, Time Management</li>
    </ul>

    <h1>Certifications</h1>
    <ul>
        <li>Certified Java Developer</li>
        <li>Microsoft Certified: Azure Fundamentals</li>
    </ul>
</section>
