<section class="max-w-4xl mx-auto p-8">
  <!-- Education Section -->
  <div class="mb-12">
    <h1 class="text-4xl font-extrabold text-center mb-8 text-gray-900">Education</h1>
    <div class="border-l-4 border-blue-500 pl-6">
      <ul>
        <li class="mb-10" *ngFor="let edu of education">
          <h3 class="text-2xl font-semibold mb-2 text-blue-600">{{ edu.title }}</h3>
          <p class="text-lg text-gray-800">{{ edu.date }}, {{ edu.institution }}</p>
          <h5 class="text-lg text-gray-700">GPA: {{ edu.gpa }}</h5>
        </li>
      </ul>
    </div>
  </div>

  <!-- Experience Section -->
  <div>
    <h1 class="text-4xl font-extrabold text-center mb-8 text-gray-900">Experience</h1>
    <div class="border-l-4 border-blue-500 pl-6">
      <ul>
        <li class="mb-10" *ngFor="let exp of experience">
          <h3 class="text-2xl font-semibold mb-2 text-blue-600">{{ exp.title }} | {{ exp.company }}</h3>
          <p class="text-lg text-gray-800">{{ exp.date }}, {{ exp.location }}</p>
          <ul class="list-disc pl-8 text-lg text-gray-800">
            <li class="mb-1" *ngFor="let task of exp.tasks">{{ task }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
